@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #2f3542 url("./assets/images/bg.jpg") no-repeat left center/cover;
  color: #fff;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
}

body * {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 500px) {
  body h1 {
    font-size: 28px;
  }
}
